/* Overwrite PrimeNg Component */
.p-inputtext {
    padding: 0.75rem 1rem;
    font-size: 1.1rem;
    font-weight: 500;
    line-height: 1.5;
    width: 100%;
    border: 1px solid #E4E6EF;
    background: transparent;
}

.input-group>.p-inputtext {
    position: relative;
    flex: 1 1 auto;
    width: 1%;
}

.p-input-icon-left,
.p-input-icon-right {
    width: 100%;
}

p-inputnumber,
.p-inputnumber {
    width: 100%;
}

.p-dropdown {
    border: 1px solid #E4E6EF;
    background: transparent;
}

.p-dropdown-label {
    font-size: 1.1rem;
    font-weight: 500;
    line-height: 1.5;
    color: var(--bs-white);
}

.p-dropdown-panel .p-dropdown-items .p-dropdown-item {
    color: var(--bs-white);
}

.p-multiselect {
    width: 100%;
    border: 1px solid #E4E6EF;
    background: transparent;
}

.p-calendar {
    width: 100%;
}

.p-calendar-w-btn {
    background-color: transparent;
}

.p-calendar-w-btn .p-datepicker-trigger.p-button {
    color: var(--bs-white);
}

.p-editor-container .p-editor-toolbar {
    background: transparent;
}

.p-editor-container .p-editor-content .ql-editor {
    background: transparent;
}

.p-tree {
    background: transparent;
}

p-tree[selectionmode="checkbox"] .p-tree .p-tree-container .p-treenode .p-treenode-content.p-highlight {
    color: var(--bs-white) !important;
}

p-autoComplete {
    padding: 10px 0;
}

.p-autocomplete {
    width: 100%;
}

.p-autocomplete-dd .p-autocomplete-input,
.p-autocomplete-dd .p-autocomplete-multiple-container {
    border-top-right-radius: 0 !important;
    border-bottom-right-radius: 0 !important;
    border-top-left-radius: 0 !important;
    border-bottom-left-radius: 0 !important;
    background: transparent !important;
}

.p-button.p-button-icon-only {
    width: 3.75rem;
}

.p-fileupload .p-fileupload-buttonbar .p-button {
    color: var(--bs-white);
}

.p-fileupload .p-fileupload-buttonbar,
.p-fileupload .p-fileupload-content {
    background: transparent;
}

.p-datatable.p-datatable-scrollable>.p-datatable-wrapper>.p-datatable-table>.p-datatable-thead,
.p-datatable.p-datatable-scrollable>.p-datatable-wrapper>.p-datatable-table>.p-datatable-tfoot,
.p-datatable.p-datatable-scrollable>.p-datatable-wrapper>.p-scroller-viewport>.p-scroller>.p-datatable-table>.p-datatable-thead,
.p-datatable.p-datatable-scrollable>.p-datatable-wrapper>.p-scroller-viewport>.p-scroller>.p-datatable-table>.p-datatable-tfoot {
    background: transparent;
}

.p-datatable .p-datatable-thead>tr>th,
.p-datatable .p-datatable-tbody>tr {
    background: transparent;
}

.p-paginator {
    background: transparent;
}

.p-panel {
    box-shadow: 0 2px 4px rgba(255, 255, 255, 0.1), 0 1px 2px rgba(255, 255, 255, 0.08), 0 1px 5px rgba(255, 255, 255, 0.06);
}

.p-panel-header,
.p-panel-content {
    background: transparent;
}

/* Bootstrap Datepicker */
.custom-datepicker {
    border: 1px solid #E4E6EF;
}

.custom-datepicker:hover {
    border-color: rgba(255, 255, 255, 0.6);
}

.custom-datepicker:enabled:focus {
    box-shadow: inset 0 0 0 1px #9fa8da, inset 0 0 0 1px #9fa8da, inset 0 0 0 1px #9fa8da, inset 0 0 0 1px #9fa8da !important;
}

/* Notification misalign on mobile view issues */
@media (max-width: 767px) {
    .dropdown-menu-lg {
        min-width: 280px !important;
    }
}

@media (max-width: 400px) {
    .dropdown-menu-lg {
        min-width: 250px !important;
    }
}

@media (max-width: 370px) {
    .dropdown-menu-lg {
        min-width: 230px !important;
    }
}